.fishes {
    border-collapse: collapse;
    width: 100%;
  }

  .fishes td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  .fishes tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .fishes tr:hover {
    background-color: #f5f5f5;
  }

  .discovered{
    color:green;
  }

  .caught{
    background-color:red;
  }