

[data-fish-count]::after {
    content: attr(data-fish-count);
}

.fishes {
    border-collapse: collapse;
    width: 100%;
    border: 7px solid #A35647;
    background: #FEDAC1;
    box-shadow: 4px 4px 79.1px 23px #E2A475 inset;
    table-layout: fixed;
    display: grid;
}

.fishes td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    aspect-ratio: 1;
}

.fishes [data-fish-count="0"]{
    filter: grayscale(100%);
}

.caught {
    animation: highlight .5s infinite alternate;
}

@keyframes highlight {
    to {
        background-color: yellow;
    }
}