@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@layer pomodoro{
[name="pomodoro"] {
  /*Customisations*/
  --_dot-size:1rem;
  --_dot-color:red;
  --_border-color:var(--_dot-color);
  --_font-size:22pt;
  --_font-family:Bebas Neue;

  /* For debugging purpose: set the speed factor of the animation (default to 1s = 1s) */
  --s:calc(1s/pow(6,var(--speed,0)));
  [name="speed"],[type="reset"]{display:none;}
  &:has([name="speed"] [value="10"]:checked){--speed:1;}
  &:has([name="speed"] [value="100"]:checked){--speed:2;}
  &:has([name="speed"] [value="1000"]:checked){--speed:3;}

  /* Handle the state of the animation */
  &:has([name="play"]:not(:checked)){
    --animation-play-state:paused;
    --animation-name:none;

    time{
      [name="Hh:Mm:Ss"]{display:static;}
      output{display: none;}
    }
  }

  /* Styling */
  &, & *,& *:before,& *:after{
    color:var(--_dot-color);
    font-family:var(--_font-family,inherit);
    font-size:var(--_font-size);
  }

  & {
    display:grid;
    container-type: size;
    width:300px;
    aspect-ratio:1;
    grid-template-rows: 1fr min-content;
    align-items:center;
    align-content:end;
    border-radius:100%;
    border:solid var(--_border-color) 4px;
    position:relative;
  }

  /* Styling the dot */
  &:before{
    position:absolute;
    inset:0;
    width:var(--_dot-size);
    aspect-ratio:1;
    margin:auto;
    content:"";
    background-color:var(--_dot-color);
    transform-origin:center;
    border-radius:100%;
    transform: rotate(.5turn) translateY(50cqh);
    animation-composition: replace;  
    animation-timing-function: linear;
    animation-name:var(--animation-name,revolve);
    animation-duration:calc(var(--_duration)*var(--s));
    animation-play-state:var(--animation-play-state);
  }

  menu{
    display:flex;
    place-items:center;
    justify-content:center;
    margin:0;
    padding:0;

    [name="play"],[type="reset"]{
      appearance:none;
      font-size:var(--_font-size);
      background:none;
      border:0;
      cursor:pointer;
    }
  
    [name="play"]{
      width:100%;
      aspect-ratio: 1;
      position:absolute;
      inset:0;
      z-index:-1;
    }
  }

  time{
    text-align:center;

    [name="Hh:Mm:Ss"] {
      padding:0;
      display:flex;
      justify-content:center;

      &,fieldset{
        margin:0;
        padding:0;
        border:unset;
        display: flex;
        select{
          appearance:none;
          background:unset;
          opacity:.33;
          border:unset;
          width:max-content;
          height:100%;
          padding:0;
          width:max-content;
          height:min-content;
          text-align:center;
        }
        &:nth-of-type(2){
          &:before,&:after{
            content:":";
          }
        }
      }
    }
  }

  /* Calculations */
  /* Calcul the total duration in seconds from the values passed with the html.*/
  --_Hh:calc(var(--_H)*10 + var(--_h));
  --_Mm:calc(var(--_M)*10 + var(--_m));
  --_Ss:calc(var(--_S)*10 + var(--_s));

  --_duration:calc(
    (var(--_Hh)*60*60)
  + (var(--_Mm)*60)
  + var(--_Ss)
  );
  
  /* Calcul the delay to apply to start the animation at the correct time */
  /* Tens numeral are on base 60 */
  --_delay_S:calc((59 - var(--_Ss))*pow(60,0));
  --_delay_M:calc((59 - var(--_Mm))*pow(60,1));
  --_delay_H:calc((59 - var(--_Hh))*pow(60,2));
  /* Units numerals are on base 10 */
  --_delay_s:calc((9 - mod(var(--_Ss),10))*pow(60,0));
  --_delay_m:calc((9 - mod(var(--_Mm),10))*pow(60,1));
  --_delay_h:calc((9 - mod(var(--_Hh),10))*pow(60,2));
  
  &:has([name="play"]:checked){
    /* Hide the input fields when the animation is running*/
    time{
      [name="Hh:Mm:Ss"]{display:none;}
      output{display: static;}
    }
  }
  
  /* The time is displayed with three nested output, the latest being used to show the time */
  output{  
    animation-play-state:var(--animation-play-state,running);
    animation-name:var(--animation-name,timer-6),var(--animation-name,timer-10);
    animation-duration:
       calc(var(--_cycle)*60*var(--s))
      ,calc(var(--_cycle)*10*var(--s));
    animation-timing-function:step-end;
    animation-iteration-count:
      round(up,var(--_duration)/(var(--_cycle)*pow(60,2)) + var(--_duration)/(var(--_cycle)*pow(60,1))),
      round(up,var(--_duration)*6/(var(--_cycle)*pow(60,2)) + (var(--_duration)*6/(var(--_cycle)*pow(60,1))));
    animation-direction:reverse;
    animation-fill-mode:forwards;
    animation-delay:
    calc(var(--_T,0)*-1*var(--s)),
    calc(var(--_t,0)*-1*var(--s));
  }

  .Ss {
    --_cycle:pow(60,0);
    --_Ss_str:var(--_str_6,'0') var(--_str_10,'0');
    --_T:var(--_delay_S);
    --_t:var(--_delay_s);
  }

  .Mm {
    --_cycle:pow(60,1);
    --_Mm_str:var(--_str_6,'0') var(--_str_10,'0');
    --_T:calc(var(--_delay_S) + var(--_delay_M));
    --_t:calc(var(--_delay_S) + var(--_delay_m));
  }

  .Hh {
    --_cycle:pow(60,2);
    --_Hh_str:var(--_str_6,'0') var(--_str_10,'0');
    --_T:calc(var(--_delay_S) + var(--_delay_M) + var(--_delay_H));
    --_t:calc(var(--_delay_S) + var(--_delay_M) + var(--_delay_h));
  }
  
  /* Display the time */
  output :last-child:before{
    content:var(--_Hh_str)":"var(--_Mm_str)":"var(--_Ss_str);
  }
  
  /* Inputing the time with html*/
  &:has([name="H"] [value="0"]:checked){--_H:0;}
  &:has([name="H"] [value="1"]:checked){--_H:1;}
  &:has([name="H"] [value="2"]:checked){--_H:2;}
  &:has([name="H"] [value="3"]:checked){--_H:3;}
  &:has([name="H"] [value="4"]:checked){--_H:4;}
  &:has([name="H"] [value="5"]:checked){--_H:5;}
  &:has([name="H"] [value="6"]:checked){--_H:6;}
  &:has([name="H"] [value="7"]:checked){--_H:7;}
  &:has([name="H"] [value="8"]:checked){--_H:8;}
  &:has([name="H"] [value="9"]:checked){--_H:9;}
  
  &:has([name="h"] [value="0"]:checked){--_h:0;}
  &:has([name="h"] [value="1"]:checked){--_h:1;}
  &:has([name="h"] [value="2"]:checked){--_h:2;}
  &:has([name="h"] [value="3"]:checked){--_h:3;}
  &:has([name="h"] [value="4"]:checked){--_h:4;}
  &:has([name="h"] [value="5"]:checked){--_h:5;}
  &:has([name="h"] [value="6"]:checked){--_h:6;}
  &:has([name="h"] [value="7"]:checked){--_h:7;}
  &:has([name="h"] [value="8"]:checked){--_h:8;}
  &:has([name="h"] [value="9"]:checked){--_h:9;}
  
  &:has([name="M"] [value="0"]:checked){--_M:0;}
  &:has([name="M"] [value="1"]:checked){--_M:1;}
  &:has([name="M"] [value="2"]:checked){--_M:2;}
  &:has([name="M"] [value="3"]:checked){--_M:3;}
  &:has([name="M"] [value="4"]:checked){--_M:4;}
  &:has([name="M"] [value="5"]:checked){--_M:5;}
  &:has([name="M"] [value="6"]:checked){--_M:6;}
  &:has([name="M"] [value="7"]:checked){--_M:7;}
  &:has([name="M"] [value="8"]:checked){--_M:8;}
  &:has([name="M"] [value="9"]:checked){--_M:9;}
  
  &:has([name="m"] [value="0"]:checked){--_m:0;}
  &:has([name="m"] [value="1"]:checked){--_m:1;}
  &:has([name="m"] [value="2"]:checked){--_m:2;}
  &:has([name="m"] [value="3"]:checked){--_m:3;}
  &:has([name="m"] [value="4"]:checked){--_m:4;}
  &:has([name="m"] [value="5"]:checked){--_m:5;}
  &:has([name="m"] [value="6"]:checked){--_m:6;}
  &:has([name="m"] [value="7"]:checked){--_m:7;}
  &:has([name="m"] [value="8"]:checked){--_m:8;}
  &:has([name="m"] [value="9"]:checked){--_m:9;}

  &:has([name="S"] [value="0"]:checked){--_S:0;}
  &:has([name="S"] [value="1"]:checked){--_S:1;}
  &:has([name="S"] [value="2"]:checked){--_S:2;}
  &:has([name="S"] [value="3"]:checked){--_S:3;}
  &:has([name="S"] [value="4"]:checked){--_S:4;}
  &:has([name="S"] [value="5"]:checked){--_S:5;}
  &:has([name="S"] [value="6"]:checked){--_S:6;}
  &:has([name="S"] [value="7"]:checked){--_S:7;}
  &:has([name="S"] [value="8"]:checked){--_S:8;}
  &:has([name="S"] [value="9"]:checked){--_S:9;}
  
  &:has([name="s"] [value="0"]:checked){--_s:0;}
  &:has([name="s"] [value="1"]:checked){--_s:1;}
  &:has([name="s"] [value="2"]:checked){--_s:2;}
  &:has([name="s"] [value="3"]:checked){--_s:3;}
  &:has([name="s"] [value="4"]:checked){--_s:4;}
  &:has([name="s"] [value="5"]:checked){--_s:5;}
  &:has([name="s"] [value="6"]:checked){--_s:6;}
  &:has([name="s"] [value="7"]:checked){--_s:7;}
  &:has([name="s"] [value="8"]:checked){--_s:8;}
  &:has([name="s"] [value="9"]:checked){--_s:9;}
}

/* Timers  */
@keyframes timer-10 {
  0%{--_int_10:0;--_str_10:"0";}
  10%{--_int_10:1;--_str_10:"1";}
  20%{--_int_10:2;--_str_10:"2";}
  30%{--_int_10:3;--_str_10:"3";}
  40%{--_int_10:4;--_str_10:"4";}
  50%{--_int_10:5;--_str_10:"5";}
  60%{--_int_10:6;--_str_10:"6";}
  70%{--_int_10:7;--_str_10:"7";}
  80%{--_int_10:8;--_str_10:"8";}
  90%{--_int_10:9;--_str_10:"9";}
  100%{--_int_10:9;--_str_10:"9";}
}
@keyframes timer-6 {
 /* 0/6 */00.000000000% {--_int_6:0;--_str_6:"0";}
 /* 1/6 */16.666666667% {--_int_6:1;--_str_6:"1";}
 /* 2/6 */33.333333333% {--_int_6:2;--_str_6:"2";}
 /* 3/6 */50.000000000% {--_int_6:3;--_str_6:"3";}
 /* 4/6 */66.666666667% {--_int_6:4;--_str_6:"4";}
 /* 5/6 */83.333333333% {--_int_6:5;--_str_6:"5";}
 /* 5/6 */100.000000000%{--_int_6:5;--_str_6:"5";}
}
@keyframes revolve {
  from {transform: rotate(.5turn) translateY(50cqh);}
  to { transform:rotate(1.5turn) translateY(50cqh);}
  }
}